body{
    background-image: url(obr/hexagonal-grid_web.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size:cover ;
    margin: 0;
}

#container{ 
    font-size: larger;
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 900px;
    vertical-align: middle;

}

#calc{
    font-size: larger;
    margin-bottom: 2em;
}

#vysledek{
    color: lime;
}

h1{
    color: lime;
    text-decoration: underline;
}

#text5{
    color: lime;
}