body{
    background-image: url(obr/hexagonal-grid_web.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size:cover ;
    margin: 0;
}

#container{ 
    font-size: larger;
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 900px;
    vertical-align: middle;

}

#calc{
    font-size: larger;
    margin-bottom: 2em;
}

#vysledek{
    color: lime;
    text-decoration: underline;
}

h1{
    color: lime;
    text-decoration: underline;
}

#text5{
    color: lime;
}

#text1 ,#text2, #text3, #text4{
    color: lime;
    border: none;
    border-bottom: lime solid 2px;
    background: transparent;
    font-size: 1.225em;
}
button, select{
    size: 2em;
    padding:0 2em;
    border: none;
    border-bottom: lime solid 2px;
    background-color: transparent;
    font-size: 1.5em;
    color: lime;
}

#select option {
    background-color: transparent;
}
